<!DOCTYPE html>
<html lang="en">


<%

var max = 10000;
var min = 1000;
var r = Math.floor(Math.random() * (max - min)) + min;



%>

<head>
    <title>kim-portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/jquery.js"></script>
    <script src="/jquery-ui.js"></script>


    <link rel="stylesheet" href="/portfolio.css?i=<%= r %>">

    <!-- 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
-->



</head>




<body>


    <div class="server_info">
        <div>SERVER : NODE.JS</div>
        <div>Cloud : AWS EC2</div>
        <div>DB : AWS RDS</div>
    </div>


    <div class="user_form">

        <div class="photo"></div>

        <div class="user_info">
            <ul class="user_info_ul">
                <li>나이 : 28</li>
                <li>주소 : 부산 북구 화명 양달로 80-11 102동 1401호</li>
                <li>e-mail : sasaa3865@naver.com</li>
                <li>휴대폰 : 010 - 7615 - 3865</li>
            </ul>
        </div>


        <table class="univ_info">
            <thead>
                <th>재학기간</th>
                <th>상태</th>
                <th>학교명</th>
                <th>전공</th>
                <th>학점</th>
            </thead>

            <tbody>
                <tr>
                    <td>2012.03 ~ 2018.02</td>
                    <td>졸업</td>
                    <td>동의대학교</td>
                    <td>정보통신공학과</td>
                    <td>3.72/4.5</td>
                <tr>

                <tr>
                    <td>2009.02 ~ 2012.02</td>
                    <td>졸업</td>
                    <td>낙동고등학교</td>
                    <td>이과</td>
                    <td>-</td>
                <tr>
            </tbody>


        </table>



    </div>


    <!-- 경력 기술 -->

    <div class="user_career">

        <table class="user_career_info">

            <colgroup>
                <col width="27%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="13%">
            </colgroup>



            <thead>
                <th>근무기간</th>
                <th>회사명</th>
                <th>소재지</th>
                <th>직종</th>
                <th>연봉</th>
            </thead>

            <tbody>
                <tr>
                    <td rowspan="2">2018.06 ~ 2019.07 <br>(1년 2개월)</td>
                    <td>슈퍼셀<br>(영상제작 업체)</td>
                    <td>해운대</td>
                    <td>개발팀(팀원)</td>
                    <td>2280(만)</td>
                <tr>
               
            </tbody>
        </table>



        <div class="user_career_reason">
            <ul class="user_career_reason_ul">
                <li>담당업무 : 백엔드(nodejs, java(spring), php) 와 프론트엔드 ( html, css, js(jquery) )</li>
                <li>퇴사사유 : 경영악화</li>
                <li class="user_career_reason_li">
                   

                    <div class="user_career_reason_div">
                        
                        해운대구 센텀시티에 위치한 슈퍼셀(영상제작회사) 에서 회사 대표 홈페이지를 제작하고<br>
                        카페24, 그누보드(php) 등의 플랫폼 쇼핑몰에 기능을 수정하여 <br>
                        디자인 변경, 기능추가 등의 작업을 하였습니다.<br>

                    
                    </div>


                    <div class="user_career_reason_div">
                        
                        개발자가 저 혼자인 상태에서 이것저것 되는대로 주먹구구식으로 프로그래밍을<br>
                        하게되면서 체계적인 배움이 부족하다 생각하여 신입으로 지원하게 되었습니다.<br>
                        

                    
                    </div>


                </li>
            </ul>
        </div>

    </div>



    <!-- 자격증 -->

    <div class="user_certifi">

        <table class="user_certifi_info">

            <colgroup>
                <col width="33%">
                <col width="33%">
                <col width="33%">
                
            </colgroup>



            <thead>
                <th>취득일</th>
                <th>자격증</th>
                <th>발행처</th>
                
            </thead>

            <tbody>
                <tr>
                    <td rowspan="2">2020.11.12</td>
                    <td>정보처리기사</td>
                    <td>산업인력공단</td>
                 
                <tr>
               
            </tbody>
        </table>




    </div>



    <!-- 채팅 && 방명록 -->


    <div class="chat">

        <div class="chat_num_div">
            <span>현재 접속자 수 : </span>
            <span class="chat_num"></span>
        </div>


        <div class="chat_space">
            <ul class="chat_space_ul">

                <% if(session.chat != null) { %>
                    <% for(i = 0;i < session.chat.length;i++) { %>
                    <li>
                        <div class="msg"><%=session.chat[i].msg%></div>
                        <div class="nickname"><%=session.chat[i].id%></div>
                        <div class="time"><%=session.chat[i].msgtime%></div>
                    
                    </li>
                <%} } %>
            </ul>
            
        </div>


        <div class="chat_div">
            <input type='text' class="chat_text" />
            <input type='button' class="send_button" value="send"/>
        </div>

        <!--<div class="chat_under">부족한 점을 간단하게라도 적어주시면 감사하겠습니다.</div>-->

    </div>


    
    <script src="/portfolio.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chatting.js"></script>
</body>

</html>